<template name="battle">
  <div>
    <div class="container">
      <h1>Combat Simulator</h1>
      <div class="row">
        {{#each battles}}
          {{> combat}}
        {{/each}}
      </div>
      <div class="add-or-remove-buttons btn-group-vertical" role="group">
        <button id="add-combatant-button" class="btn btn-default">
          Add Combatant
        </button>
        <button id="remove-combatant-button" class="btn btn-default">
          Reset
        </button>
      </div>
    </div>
    <div class="container">
      <button type="submit" id="submit-combat-button" class="btn btn-default" form="combatant-form">Submit Combat</button>
    </div>
  </div>
</template>


<template name="combat">
  <div class="col sm12 m6 l4">
    <div class="card grey lighten-1">
      <div class="card-content">
        <h1>Combat Input</h1>
      </div>
      <div class="card-footer">
        <form action="" role="form" id="battle-form">
          <p>
            <input type="text" id="combatant-name" placeholder="Name of Combatant" required>
          </p>
          <div class="offense-defense-group">
            <p>
              <input type="radio" name="offense-defense" id="offense" checked>
              <label for="offense">Offense</label>
            </p>
            <p>
              <input type="radio" name="offense-defense" id="defense">
              <label for="defense">Defense</label>
            </p>
          </div>
          <p>
            <input type="text" id='supplied-armor' placeholder="Supplied Armor">
          </p>
          <p>
            <input type="text" id='supplied-infantry' placeholder='Supplied Infantry'>
          </p>
          <p>
            <input type="text" id='aircraft' placeholder='Aircraft'>
          </p>
          <p>
            <input type="text" id='unsupplied-armor' placeholder="Unsupplied Armor">
          </p>
          <p>
            <input type="text" id="unsupplied-infantry" placeholder="Unsupplied Infantry">
          </p>
        </form>
      </div>
    </div>
  </div>
</template>

<!--
<template name="combat">
  <div class="combatant-form">
    <form id="combatant-form" action="" role="form">
      <div class="form-group">
        <label for="combatant-name" id="combatant-form-label">Name of Combatant</label>
        <input type="text" class="form-control combatant-name" id="combatant-name" placeholder="General Ludendorff" required>
      </div>
      <div class="radio-inline">
        <label for="">
          <input type="radio" name="offense-defense-radio" id="offense-radio" checked>Offense
        </label>
      </div>
      <div class="radio-inline">
        <label for="">
          <input type="radio" name="offense-defense-radio" id="defense-radio">Defense
        </label>
      </div>
      <div class="form-group">
        <label for="supplied-armor" id="combatant-form-label">Supplied Armor</label>
        <input type="number" class="form-control" id="supplied-armor" placeholder=0>
      </div>
      <div class="form-group">
        <label for="supplied-infantry" id="combatant-form-label">Supplied Infantry</label>
        <input type="number" class="form-control" id="supplied-infantry" placeholder=0>
      </div>
      <div class="form-group">
        <label for="aircraft" id="combatant-form-label">Aircraft</label>
        <input type="number" class="form-control" id="aircraft" placeholder=0>
      </div>
      <div class="form-group">
        <label for="unsupplied-infantry" id="combatant-form-label">Unsupplied Infantry</label>
        <input type="number" class="form-control" id="unsupplied-infantry" placeholder=0>
      </div>
      <div class="form-group">
        <label for="unsupplied-armor" id="combatant-form-label">Unsupplied Armor</label>
        <input type="number" class="form-control" id="unsupplied-armor" placeholder=0>
      </div>
    </form>
  </div>
</template> -->
