/*  New CSS for Materialize */


 .side-nav {
   margin-right: 10%;
 }


 @media only screen and (min-width: 993px) {
   .brand-logo {
     margin-left: 10%;
   }
 }

 nav {
   background-color: #424242;
   /* color: ; */
 }

.dictatorship-democracy-group {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.offense-defense-group {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.combat-buttons {
  padding: 1rem 1rem;
}

.mdi-navigation-menu {
  margin-left: 10%;
}

h1 {
  margin: 0.5em;
}

.outcome-loss {

}

#add-combatant-button {
  background: #ea454b;
}

#remove-combatant-button {
  background: #ea454b;
}

#submit-combat-button {
  background: #ea454b;
}

[type="radio"]:checked + label:after {
  border: 2px solid #ea454b;
  background-color: #ea454b;
}

#submit-politics-button {
  background: #ea454b;
}

.outcome-card {

}
