/*  New CSS for Materialize */


 .side-nav {
   margin-right: 10%;
 }


 @media only screen and (min-width: 993px) {
   .brand-logo {
     margin-left: 10%;
   }
 }

 nav {
   background-color: #424242;
   /* color: ; */
 }

.offense-defense-group, .dictatorship-democracy-group {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.combat-buttons {
  padding: 1rem 1rem;
}

.mdi-navigation-menu {
  margin-left: 10%;
}

h1 {
  margin: 0.5em;
}

.outcome-probabilities {
  font-size: 1.5em;
}

#submit-combat-button, #remove-combatant-button, #add-combatant-button {
  background: #ea454b;
}

[type="radio"]:checked + label:after {
  border: 2px solid #ea454b;
  background-color: #ea454b;
}

#submit-politics-button {
  background: #ea454b;
}

.big-header {
  font-size: 2em;
}

.outcome-loss {
  font-size: 1.5em;

}

.infantry-row {
  height: 5rem;
}

.armor-row, .aircraft-row {
  height: 4rem;
}

.politics-outcome-class {
  height: 10rem;
  overflow: auto;
}

.battle-outcome-class {
  height: 14rem;
}
