<template name="politicsOutcome">
  <div class="container">
    <h1>Political Outcomes</h1>
    {{> individualPoliticalOutcome}}
  </div>
</template>


<template name="individualPoliticalOutcome">
  <div class="politics-outcome">
    <h3>Patrick{{name}}</h3>
    <p>War Weariness.<br>Lose 3 Francs if you do not possess all of your original territories.<br>Otherwise, nothing happens.</p>
  </div>
  <div class="politics-outcome">
    <h3>Andy</h3>
    <p>Disturbances in Captured Cities.<br>Lose 1 Franc for every city beyond your initial territory that you currently occupy.</p>
  </div>
</template>
