<template name="Home">
	<div class="container" id="content">
		<div class="" id="rules-title-section">
			<p class="" id="last-update">
				Last updated: 15 November 2014
			</p>
			<h1 class="">
				The Grand Game
			</h1>
			<subtitle id="rules-subtitle">
				A game of politics, development, and war.
			</subtitle>
		</div>
		<div class="">

		</div>
		<div class="">
			<blockquote class="">
			The first thing you need in matters of this kind, as every general knows, is a thorough knowledge of the terrain.  Not know the terrain, and where are you?  Look at Napoleon and that sunken road at Waterloo.  Silly ass!
			<footer class="">
				Bertie Wooster, <em>Very good, Jeeves</em>
			</footer>
		</blockquote>
		</div>
		<div class="">
			<h3 class="">
				Introduction
			</h3>
			<p>
				There are a number of fundamental differences between this version of <em>The Grand Game</em> and the previous versions. I highlighted changes in the rules whenever possible. Generally speaking, these changes are:
			</p>
			<ol>
				<li>Casualties are significantly fewer than in previous versions.</li>
				<li>Equivalent forces should not lose more than half of their units in a single conflict—most conflicts will be multi-iterative.</li>
				<li>Military purchasing trade-offs, such as "tank or infantry", are now more of a strategic trade-off between offense and defense.</li>
				<li>Air superiority is a force multiplier of +1 and <em>does not stack</em>; superiority of 5 planes is still only +1.</li>
				<li>Air units/superiority is very helpful for large armies and only marginally useful for small armies.</li>
				<li>Sea units are significantly cheaper and now have a similar trade-off as infantry v. tank acquisition.</li>
				<li>Battle cards have been introduced: battle cards are drawn for every battle affect the outcome of every battle. No battle card should affect the outcome by more than 25%.</li>
				<li>Victory in battle and casualties inflicted are two separate calculations. Much like the game Diplomacy, it is possible to win a battle with no casualties inflicted on either side.</li>
				<li>Every player now has a different set of victory conditions, which are kept secret from everyone else at the table.</li>
				<li>Ships are still extremely vulnerable to air attack; air superiority over the seas will be important.</li>
				<li>Francs can now buy infantry and supply at double cost—infantry cost 10 Francs, supply cost 2 Francs. Purchases with Francs can be made at the end of any season, after combat reconciliation (not the yearly political reconciliation), and must be placed in cities.</li>
				<li>Railroads are now constructable and destroyable. Building supply lines to and from the front will be an important factor in this version of the game.</li>
				<li>Tanks no longer receive defensive bonuses.</li>
				<li>Because Francs are more valuable than in previous versions, the political down-side for 0% and 10% political spending have been softened.</li>
				<li>The economic development chart has been adjusted to allow for more domestic GDP growth.</li>
				<li>The League of Nations has been significantly altered to allow for other nations to "chip in" for the defense of Neutral countries using Francs. This change makes conquering of Neutrals against the wishes of others much more difficult.</li>
				<li>The Vickrey auction system has been altered because of its tendency to work to the disadvantage of new players. We will now use a standard auction with $5 minimum increments.</li>
				<li>Enemy units cannot "pass through" each other. If two sets of units are attacking each other's space, both sets of units will fight at "attack" strength.</li>
				<li>Although it will increase the tendency towards "poking" large armies with individual units to drain supply, 1 supply will be drained for every unit in a stack of units unless otherwise specified (i.e. one can order "only # infantry will use supply if attacked"). This versino of the game is intended to put more emphasis on supply lines.</li>
				<li>Territory and unit transfers are now more expensive: 1 Franc per territory or unit, rather than 1 Franc per 5 territories. Supply costs nothing to transfer.</li>
				<li>Troop and territory transfers may now be performed once per <em>season</em> after combat reconciliation, rather than once per turn.</li>
				<li>The bomb now costs 300 research units and can be created and used any time in the game.</li>
			</ol>
			<p>
				The reason for these changes is to see how the game plays out with fewer casualties and to see how players react when each player has a different set of objectives; it should be especially interesting to see how allies act towards each other when they have different victory conditions.
			</p>
			<p>
				Francs are also made significantly more useful in order to encourage players to acquire them, trade them, and use them to form alliances and support each other (including Neutrals).
			</p>
			<p>
				I anticipate larger armies, more GDP development, and significantly more activity involving Francs. Given teh decreased number of casualties and the multi-iterative nature of wars in this version of the game, I expect supply lines to be a bigger issue than in previous versions.
			</p>
			<p>
				The addition of <strong>combat cards</strong> will slightly change the outcome of every battle, though it should never change the odds more than 25% in either direction; most will change the odds less than 10%.
			</p>
			<p>
				<strong>TODO: Alternate victory conditions, fix politics cards, add battle cards and add description of battle cards to the rules</strong>
			</p>
		</div>
	</div>
</template>
