<template name="introduction">
	<div class="container">
		<h1>Introduction</h1>
		<p style="text-align: center;">J. Andrew Sinclair and The Society of St. William</p>
		<p>This game reflects my longstanding objections to much of the academic literature in international relations: the models inadequately deal with differing requirements for domestic politics, struggle to reflect the complexity of relationships between many different countries, and often ignore the influence of tactical requirements on strategic considerations.  I have kicked around some of the theoretical ideas included in this game for some time; Tom and I attended an IR lecture at Caltech maybe five years ago that greatly aggravated me (“how can you have a model of international relations that contains only two countries!”) and provided some impetus to think formally about these types of problems.</p>
		<p>With this new edition, as with its predecessors, I attempt to present a model of warfare and international relations that satisfies my own theoretical objections.  Board Game Conference I, II, and III all carried forward my initial idea, translated into a game concept, with some alterations intended to increase “playability.”  While this game addresses those same ideas, I have changed many of the original fundamental building blocks.  I thought it might be helpful to explain here some of the key differences so that players with previous experience can read the rules with a broader sense of purpose.</p>
		<p>The original game, and its subsequent variants, had a few ‘core components.’  These were, in my view:</p>
		<ol>
			<li>A hex-based map structure</li>
			<li>A year-long strategic component and four seasonal tactical components</li>
			<li>A combat system that completely divorced the outcomes of spatial victory and the probability of unit loss (i.e. the probabilities were related but the draws were independent)</li>
			<li>Air combat tethered to the land/sea map structure</li>
			<li>A simple model of politics that involved inefficient use of resources in order to avoid periodic negative shocks</li>
			<li>Payoffs determined entirely by relative position at the end of the game</li>
		</ol>
		<p>I think I had good theoretical reasons for all of these.  Nevertheless, these components combined together tended to produce a game that, if not completely unplayable, was too long, not very enjoyable to play, and mentally exhausting.  Players had to spend so much time dealing with all of the computational components that they had too little time for ‘grand strategy.’  With some very helpful suggestions from others in the Society of St. William, and some re-thinking on my part, I have developed a new set of rules.  I have altered every one of those ‘core components.’  It’s practically an entirely different game but one built on the lessons of the past.</p>
	</div>
</template>
