<template name="politics">
  <div class="container">
    <h1>Politics</h1>
    <div class="row">
      {{> politicsInput}}
      {{> politicsInput}}
      {{> politicsInput}}
      {{> politicsInput}}
      {{> politicsInput}}
      {{> politicsInput}}
      {{> politicsInput}}
      {{> politicsInput}}
    </div>
  <button type="submit" id="submit-politics-button" class="waves-effect waves-light btn" form="politics-form">Submit Political Allocation</button>
  </div>

</template>


<template name="politicsInput">
  <div class="col sm12 m6 l4">
    <div class="card grey ligthen-2">
      <div class="card-content">
        <h1>Political Allocation</h1>
        <p>Choose wisely...</p>
      </div>
      <div class="card-footer">
        <form id="politics-form" role="form">
          <p>
            <input type="text" id="politician-name" placeholder="Winston Churchill" required>
            <label for="politician-name"></label>
          </p>
          <div class="dictatorship-democracy-group">
            <p>
              <input type="radio" name="dictatorship-democracy" id="dictatorship" checked>
              <label for="dictatorship">Dictatorship</label>
            </p>
            <p>
              <input type="radio" name="dictatorship-democracy" id="democracy">
              <label for="democracy">Democracy</label>
            </p>
          </div>
          <p>
            <input type="radio" name="political-allocation" id="politics-zero" checked>
            <label for="politics-zero">0% Allocation</label>
          </p>
          <p>
            <input type="radio" name="political-allocation" id="politics-ten">
            <label for="politics-ten">10% Allocation</label>
          </p>
          <p>
            <input type="radio" name="political-allocation" id="politics-twenty">
            <label for="politics-twenty">20% Allocation</label>
          </p>
          <p>
            <input type="radio" name="political-allocation" id="politics-thirty">
            <label for="politics-thirty">30% Allocation</label>
          </p>
        </form>
      </div>
    </div>
  </div>
</template>
<!--
<template name="politicsInput">
  <div class="politics-form">
    <form id="politics-form" role="form">
      <div class="form-group">
        <label for="politician-name" id="politician-form-label">Name of Politician</label>
        <input type="text" class="form-control" id="politician-name" placeholder="Winston Churchill" required>
      </div>
      <div class="dictatorship-democracy-radio-group">
        <div class="radio dictatorship-democracy-radio">
          <label for="">
            <input type="radio" name="dictatorship-democracy-radio" id="democracy-radio">Democracy
          </label>
        </div>
        <div class="radio dictatorship-democracy-radio">
          <label for="">
            <input type="radio" name="dictatorship-democracy-radio" id="dictatorship-radio">Dictatorship
          </label>
        </div>
      </div>
      <div class="radio">
        <label for="">
          <input type="radio" name="politics-radio" id="zero-percent-politics" checked>0% Allocation
        </label>
      </div>
      <div class="radio">
        <label for="">
          <input type="radio" name="politics-radio" id="ten-percent-politics">10% Allocation
        </label>
      </div>
      <div class="radio">
        <label for="">
          <input type="radio" name="politics-radio" id="twenty-percent-politics">20% Allocation
        </label>
      </div>
      <div class="radio">
        <label for="">
          <input type="radio" name="politics-radio" id="thirty-percent-politics">30% Allocation
        </label>
      </div>
    </form>
  </div>
</template>
 -->
